Repository dl80pie/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast, staticcheck-fast

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-imports:
  name: go imports
  entry: bash
  args:
  - -c
  - GOPATH=$(go env GOPATH); if [ -f "$GOPATH/bin/goimports" ]; then "$GOPATH/bin/goimports" -w .; else go install golang.org/x/tools/cmd/goimports@latest && "$GOPATH/bin/goimports" -w .; fi
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: bash
  args:
  - -c
  ...

staticcheck-fast:
  name: staticcheck (essential checks)
  entry: bash
  args:
  - -c
  ...

docs: update workflow documentation to remove nightly workflow references
  .github/workflows/README.md
Due: none

docs: fix remaining critical documentation issues in developer guides
  docs/developer_guide/architecture.md
  docs/developer_guide/development.md
  docs/developer_guide/testing.md
Due: none

fix: resolve high reconciliation frequency issue in enterprise cluster controller
  api/v1alpha1/neo4jenterprisecluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  internal/controller/configmap_manager.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/scaling_status_manager.go
  internal/controller/suite_test.go
  internal/monitoring/resource_monitor.go
  internal/resources/cluster.go
  internal/resources/resource_recommendation.go
  internal/validation/cluster_validator.go
  internal/validation/memory_validator.go
  internal/validation/memory_validator_test.go
  internal/validation/resource_validator.go
  test-cluster.yaml
  test-simple-cluster.yaml
  test/integration/scaling_e2e_test.go
  test/integration/scaling_enhancements_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: apply pre-commit formatting fixes to workflow files
  .github/actions/collect-logs/action.yml
  .github/actions/setup-go/action.yml
  .github/actions/setup-k8s/action.yml
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
Due: none

fix: comprehensive test suite cleanup and CI integration test fixes
  Makefile
  api/v1alpha1/types_test.go
  go.mod
  internal/metrics/metrics_test.go
  internal/monitoring/resource_monitor_test.go
  internal/validation/backup_validator_test.go
  internal/validation/cloud_validator_test.go
  internal/validation/edition_validator_test.go
  internal/validation/image_validator_test.go
  internal/validation/memory_validator_test.go
  internal/validation/storage_validator_test.go
  internal/validation/tls_validator_test.go
  scripts/run-tests-clean.sh
  test/integration/integration_suite_test.go
  test/integration/scaling_e2e_test.go
  test/integration/scaling_enhancements_test.go
  test/testutil/constants.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast, staticcheck-fast

fix: resolve CI integration test failures due to kubeconfig issues
  .github/workflows/ci.yml
  Makefile
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: resolve integration test failures and improve test reliability
  test/integration/cluster_lifecycle_test.go
  test/integration/enterprise_features_test.go
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: resolve tilde expansion issue in KUBECONFIG path
  .github/workflows/ci.yml
  Makefile
Due: none

feat: implement reliable TLS cluster formation with parallel pod management
  CLAUDE.md
  config/manager/kustomization.yaml
  config/rbac/role.yaml
  docs/developer_guide/architecture.md
  docs/developer_guide/split-brain-recovery-proposal.md
  docs/user_guide/clustering.md
  docs/user_guide/configuration/tls.md
  docs/user_guide/guides/troubleshooting.md
  docs/user_guide/quick-reference/split-brain-recovery-quick-ref.md
  docs/user_guide/troubleshooting/split-brain-recovery.md
  examples/clusters/minimal-cluster.yaml
  examples/clusters/tls-cluster-basic.yaml
  examples/clusters/tls-cluster-production.yaml
  internal/controller/neo4jenterprisecluster_controller.go
  internal/resources/cluster.go
  internal/resources/cluster_startup_test.go
  internal/resources/cluster_test.go
  internal/resources/cluster_tls_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: resolve standalone controller test failures in CI
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: deploy operator before running integration tests in CI
  .github/actions/setup-k8s/action.yml
Due: none

fix: load operator image to Kind cluster before deployment in CI
  .github/actions/setup-k8s/action.yml
Due: none

fix: update integration tests to match operator behavior
  internal/resources/cluster.go
  test/integration/cluster_lifecycle_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: revert to flexible cluster formation with MIN_PRIMARIES=1
  internal/resources/cluster.go
  test/integration/multi_node_cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: remove unused timeout and interval variables in integration test
  test/integration/multi_node_cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: add missing context initialization in multi-node integration test
  test/integration/multi_node_cluster_test.go
  test/integration/standalone_deployment_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

feat: enhance Neo4jDatabase, Neo4jBackup, and Neo4jRestore for Neo4j 5.26+ and 2025.x
  api/v1alpha1/neo4jbackup_types.go
  api/v1alpha1/neo4jdatabase_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/neo4j.neo4j.com_neo4jbackups.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jdatabases.yaml
  docs/backup-restore.md
  docs/database-management.md
  examples/backup/backup-incremental.yaml
  examples/backup/backup-with-type.yaml
  examples/database/database-2025x.yaml
  examples/database/database-with-topology.yaml
  examples/restore/restore-overwrite.yaml
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jdatabase_controller.go
  internal/controller/neo4jrestore_controller.go
  internal/neo4j/client.go
  internal/neo4j/client_test.go
  internal/neo4j/version.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

test: add integration tests for automatic backup RBAC creation
  test/integration/backup_rbac_test.go
  test/integration/backup_sidecar_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: complete integration test fixes and RBAC implementation
  Makefile
  config/rbac/role.yaml
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jbackup_controller_test.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/resources/cluster_test.go
  test/integration/backup_rbac_test.go
  test/integration/backup_sidecar_test.go
  test/integration/cluster_lifecycle_test.go
  test/integration/integration_suite_test.go
  test/integration/multi_node_cluster_test.go
  test/integration/simple_backup_test.go
  test/integration/standalone_deployment_test.go
  test/integration/version_detection_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

feat: track reports in git and streamline CLAUDE.md
  .gitignore
  CLAUDE.md
  README.md
  docs/api_reference/neo4jbackup.md
  docs/developer_guide/testing.md
  docs/user_guide/guides/backup_restore.md
  docs/user_guide/guides/troubleshooting.md
  reports/2025-07-03-github-workflows-setup-report.md
  reports/2025-07-03-neo4j-526-compliance-audit-report.md
  reports/2025-07-03-neo4j-configuration-requirements-report.md
  reports/2025-07-03-neo4j-operator-comprehensive-audit-report.md
  reports/2025-07-03-neo4j-version-enforcement-report.md
  reports/2025-07-03-priority-issues-implementation-report.md
  reports/2025-07-03-test-structure-cleanup-report.md
  reports/2025-07-03-webhook-removal-completion-report.md
  reports/2025-07-04-configmap-restart-loop-final-report.md
  reports/2025-07-04-high-reconciliation-frequency-investigation-report.md
  reports/2025-07-04-scaling-e2e-test-report.md
  reports/2025-07-04-test-coverage-analysis.md
  reports/2025-07-07-neo4j-kubernetes-operator-comprehensive-prd.md
  reports/2025-07-16-deprecated-neo4j-4x-settings-audit.md
  reports/2025-07-16-tls-implementation-analysis.md
  reports/2025-07-18-neo4j-discovery-milestone-summary.md
  reports/2025-07-18-parallel-cluster-formation-milestone.md
  reports/2025-07-18-tls-cluster-formation-findings.md
  reports/2025-07-21-backup-sidecar-implementation.md
  reports/2025-07-21-disk-space-management-implementation.md
  reports/2025-07-21-neo4j-5.26-2025-database-backup-restore-implementation.md
  reports/2025-07-22-unit-test-fixes-summary.md
  reports/2025-07-23-claude-md-streamline.md
  reports/2025-07-23-documentation-updates-summary.md
  reports/2025-07-23-github-workflows-verification.md
  reports/2025-07-23-integration-tests-fix-summary.md
  reports/2025-07-23-report-directory-consolidation.md
  reports/2025-07-23-reports-cleanup-and-naming-convention.md
  reports/2025-07-23-reports-git-tracking-implementation.md
  reports/2025-07-23-resource-cleanup-implementation-report.md
  reports/2025-07-23-test-cluster-infrastructure-fix-final-report.md
  reports/README.md
Due: none

fix: reduce resource requirements for CI integration tests
  reports/2025-07-23-ci-resource-constraints-fix.md
  test/integration/backup_sidecar_test.go
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: reduce resource requirements and improve cleanup for standalone tests
  test/integration/standalone_deployment_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: update wait_for_pods to handle multi-container pods
  scripts/demo.sh
Due: none

fix: improve pod readiness check in demo script for backup sidecar
  scripts/demo.sh
Due: none

fix: use consistent pod readiness check for cluster deployments
  scripts/demo.sh
Due: none

feat: add comprehensive external access support for Neo4j deployments
  README.md
  api/v1alpha1/neo4jenterprisecluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  docs/README.md
  docs/api_reference/neo4jenterprisecluster.md
  docs/api_reference/neo4jenterprisestandalone.md
  docs/user_guide/clustering.md
  docs/user_guide/external_access.md
  docs/user_guide/tls_certificates.md
  docs/user_guide/topology_placement.md
  examples/clusters/ingress-cluster.yaml
  examples/clusters/loadbalancer-cluster.yaml
  examples/clusters/nodeport-cluster.yaml
  examples/standalone/loadbalancer-standalone.yaml
  examples/standalone/nodeport-standalone.yaml
  internal/controller/cloud_provider.go
  internal/controller/cloud_provider_test.go
  internal/controller/connection_helper.go
  internal/controller/connection_helper_test.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/neo4jenterprisestandalone_controller_test.go
  internal/resources/cluster.go
  internal/resources/cluster_test.go
  reports/2025-07-23-makefile-analysis.md
  reports/2025-07-24-reconcile-loop-analysis.md
  reports/2025-07-25-external-access-enhancements.md
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

docs: add comprehensive implementation plans for operator enhancements
  reports/2025-01-28-e2e-test-suite-implementation-plan.md
  reports/2025-01-28-enhanced-external-access-implementation-plan.md
  reports/2025-01-28-multi-region-dr-implementation-plan.md
  reports/2025-01-28-operator-ha-implementation-plan.md
  reports/2025-01-28-split-brain-recovery-implementation-plan.md
Due: none

fix: eliminate Pod-2 restart pattern during resource version conflicts
  CLAUDE.md
  internal/controller/configmap_manager.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisecluster_controller_test.go
  internal/controller/template_comparison_test.go
  reports/2025-08-05-neo4j-2025.01.0-enterprise-cluster-analysis.md
  reports/2025-08-05-neo4j-5.26-enterprise-cluster-analysis.md
  reports/2025-08-05-neo4j-version-comparison-analysis.md
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: increase backup RBAC test timeout to 300 seconds
  test/integration/backup_rbac_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

feat: complete seed URI functionality for Neo4jDatabase
  .gitignore
  .gitleaks.toml
  CLAUDE.md
  api/v1alpha1/neo4jdatabase_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/neo4j.neo4j.com_neo4jdatabases.yaml
  docs/README.md
  docs/api_reference/neo4jdatabase.md
  docs/seed-uri-feature-guide.md
  docs/user_guide/getting_started.md
  docs/user_guide/guides/configuration_best_practices.md
  docs/user_guide/guides/troubleshooting.md
  examples/database/database-with-topology.yaml
  examples/databases/README.md
  examples/databases/database-dump-vs-backup-seed.yaml
  examples/databases/database-from-azure-seed.yaml
  examples/databases/database-from-gcs-seed.yaml
  examples/databases/database-from-http-seed.yaml
  examples/databases/database-from-s3-seed.yaml
  examples/end-to-end/multi-database-cluster.yaml
  internal/controller/neo4jdatabase_controller.go
  internal/controller/neo4jdatabase_controller_test.go
  internal/neo4j/client.go
  internal/validation/database_validator.go
  internal/validation/database_validator_test.go
  test/integration/database_seed_uri_test.go
  test/integration/database_validation_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

docs: add comprehensive release notes for seed URI and server architecture features
  reports/2025-08-08-seed-uri-and-server-architecture-release-notes.md
Due: none

fix: correct service endpoint readiness check in database validation tests
  test/integration/database_validation_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: prevent split-brain detection from running before Neo4j is ready
  internal/controller/neo4jenterprisecluster_controller.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: increase integration test timeouts for CI environment constraints
  test/integration/database_validation_test.go
  test/integration/splitbrain_detection_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: prevent database controller hanging on CREATE DATABASE WAIT operations
  internal/controller/neo4jdatabase_controller.go
  internal/neo4j/client.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: add timeout protection to GetDatabaseServers for CI stability
  internal/neo4j/client.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: increase database creation timeout and ensure status population
  internal/controller/neo4jdatabase_controller.go
  internal/neo4j/client.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: reduce memory requirements in split-brain detection test
  test/integration/splitbrain_detection_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: update split-brain detection test memory requirements to 1Gi
  test/integration/splitbrain_detection_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: revert kustomization.yaml to use latest tag
  internal/controller/neo4jenterprisecluster_controller.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  golangci-lint-fast: any of: \.go$
  staticcheck-fast: any of: \.go$
