Repository dl80pie/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast, staticcheck-fast

.pre-commit-config.yaml:

repos:
  # Essential file checks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: ^(config/manager/|\.github/workflows/).*\.ya?ml$
#      - id: check-added-large-files
#        args: ['--maxkb=1000']  # Limit to 1MB
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements

  # Fast Go code quality checks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w, -s]
        language: system
        files: \.go$

      - id: go-imports
        name: go imports
        entry: bash
        args: [-c, 'GOPATH=$(go env GOPATH); if [ -f "$GOPATH/bin/goimports" ]; then "$GOPATH/bin/goimports" -w .; else go install golang.org/x/tools/cmd/goimports@latest && "$GOPATH/bin/goimports" -w .; fi']
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: golangci-lint-fast
        name: golangci-lint (fast)
        entry: bash
        args:
          - -c
          - |
            if [ ! -f ./bin/golangci-lint ]; then
              echo "Installing golangci-lint..."
              make golangci-lint >/dev/null 2>&1 || {
                echo "Warning: Could not install golangci-lint, skipping"
                exit 0
              }
            fi
            echo "Running golangci-lint..."
            ./bin/golangci-lint run --config .golangci-precommit.yml --timeout=2m || {
              echo "Note: golangci-lint found issues. Run 'make lint' for full details."
              exit 0
            }
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck-fast
        name: staticcheck (essential checks)
        entry: bash
        args:
          - -c
          - |
            if [ ! -f ./bin/staticcheck ]; then
              echo "Installing staticcheck..."
              make staticcheck >/dev/null 2>&1 || {
                echo "Warning: Could not install staticcheck, skipping"
                exit 0
              }
            fi
            echo "Running staticcheck (essential checks only)..."
            ./bin/staticcheck -checks=inherit,-ST1000,-ST1003,-ST1016,-ST1020,-ST1021,-ST1022 ./... || {
              echo "Note: staticcheck found issues. Run 'make lint-staticcheck' for full details."
              exit 0
            }
        language: system
        files: \.go$
        pass_filenames: false

  # Security checks (fast)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # YAML validation (fast)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: \.(yaml|yml)$

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.1
    hooks:
      - id: commitizen
        stages: [commit-msg]

feat: enhance database controller with comprehensive status management
  CLAUDE.md
  config/manager/kustomization.yaml
  internal/controller/neo4jdatabase_controller.go
  reports/2025-08-12-database-validation-oom-fix.md
  reports/2025-08-12-neo4j-syntax-modernization.md
  test/integration/database_validation_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: resolve cluster rejoin issue for recreated pods
  test/integration/database_validation_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: use consistent timeout for endpoint check in database validation tests
  test/integration/database_validation_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: reduce splitbrain test memory to fix CI pod scheduling
  test/integration/splitbrain_detection_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: correct component label in topology constraints
  internal/controller/topology_scheduler.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: update integration tests for server-based architecture
  LICENSE
  docs/seed-uri-feature-guide.md
  docs/user_guide/performance.md
  docs/user_guide/quick-reference/split-brain-recovery-quick-ref.md
  docs/user_guide/security.md
  docs/user_guide/topology_placement.md
  docs/user_guide/troubleshooting/backup_restore.md
  docs/user_guide/troubleshooting/split-brain-recovery.md
  test/integration/cluster_lifecycle_test.go
  test/integration/multi_node_cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: resolve OOM issues in database validation integration tests
  test/integration/database_validation_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: improve database creation timeout handling and error logging
  internal/controller/neo4jdatabase_controller.go
  internal/neo4j/client.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: increase memory limits in split-brain detection tests to prevent OOM
  test/integration/splitbrain_detection_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: update demo script for new server-based architecture
  scripts/demo.sh
Due: none

feat: improve demo script cluster detection and add new Makefile targets
  Makefile
  scripts/demo.sh
Due: none

docs: add comprehensive release notes for server architecture and database enhancements
  reports/2025-08-20-release-notes-server-architecture-and-database-enhancements.md
Due: none

docs: remove webhook references and update installation methods
  Makefile
  README.md
  config/default/kustomization.yaml
  docs/README.md
  docs/developer_guide/architecture.md
  docs/developer_guide/contributing.md
  docs/developer_guide/testing.md
  docs/user_guide/getting_started.md
  docs/user_guide/guides/backup_restore.md
  docs/user_guide/guides/troubleshooting.md
  docs/user_guide/installation.md
Due: none

ci: remove Codecov upload from CI workflow
  .github/workflows/ci.yml
Due: none

feat: make GitHub CI integration tests optional and on-demand
  .github/workflows/README.md
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/developer_guide/development.md
  docs/developer_guide/testing.md
  docs/user_guide/guides/troubleshooting.md
  test/integration/backup_rbac_test.go
  test/integration/centralized_backup_test.go
  test/integration/database_seed_uri_test.go
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

docs: comprehensive update to align with current project state
  README.md
  docs/README.md
  docs/api_reference/neo4jbackup.md
  docs/api_reference/neo4jdatabase.md
  docs/api_reference/neo4jenterprisecluster.md
  docs/api_reference/neo4jenterprisestandalone.md
  docs/api_reference/neo4jplugin.md
  docs/api_reference/neo4jrestore.md
  docs/developer_guide/development.md
  docs/user_guide/configuration.md
  docs/user_guide/getting_started.md
  docs/user_guide/performance.md
  docs/user_guide/quick-reference/split-brain-recovery-quick-ref.md
  docs/user_guide/troubleshooting/split-brain-recovery.md
  examples/README.md
  examples/plugins/cluster-plugin-example.yaml
  internal/controller/splitbrain_detector.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: increase CI memory requirements to meet Neo4j Enterprise minimum
  config/manager/kustomization.yaml
  debug-test.log
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

refactor: clean up Makefile and enforce in-cluster deployment philosophy
  .github/actions/setup-k8s/action.yml
  .github/workflows/integration-tests.yml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  cmd/main.go
  docs/README.md
  docs/developer_guide/contributing.md
  docs/developer_guide/development.md
  docs/quick-reference/operator-modes-cheat-sheet.md
  docs/split-brain-troubleshooting.md
  docs/user_guide/getting_started.md
  docs/user_guide/guides/troubleshooting.md
  docs/user_guide/installation.md
  docs/user_guide/operator-modes.md
  reports/2025-01-25-comprehensive-improvement-recommendations.md
  reports/2025-07-03-test-structure-cleanup-report.md
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

feat: add Neo4jDatabase and Neo4jBackup examples to README
  README.md
Due: none

docs: fix database management guidance in README
  README.md
Due: none

fix: replace ginkgo with go test in integration test CI target
  Makefile
Due: none

fix: resolve critical integration test failures in CI
  .github/workflows/integration-tests.yml
  Makefile
Due: none

fix: correct Neo4j image tags - use 5.26-enterprise instead of non-existent 5.26.0-enterprise
  .github/workflows/integration-tests.yml
  test/integration/backup_rbac_test.go
  test/integration/plugin_test.go
  test/integration/simple_backup_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

refactor: remove fallback versions and ensure consistent Neo4j image usage
  .github/workflows/integration-tests.yml
  test/integration/backup_rbac_test.go
  test/integration/integration_suite_test.go
  test/integration/plugin_test.go
  test/integration/simple_backup_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: reduce plugin test timeout to 5 minutes
  test/integration/plugin_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: resolve CI resource shortage preventing pod scheduling
  .github/workflows/integration-tests.yml
  test/integration/integration_suite_test.go
  test/integration/plugin_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

docs: enhance integration test workflow with CI strategy documentation
  .github/workflows/integration-tests.yml
Due: none

docs: finalize documentation updates for optional integration testing infrastructure
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/developer_guide/development.md
  docs/developer_guide/testing.md
Due: none

fix: database seed URI tests resource exhaustion and timeouts
  config/manager/kustomization.yaml
  test/integration/database_seed_uri_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

feat: add local image deployment support for dev and prod overlays
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
Due: none

fix: correct undefined testNamespace variable in topology placement test
  test/integration/topology_placement_simple_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: improve CI pipeline reliability and test consistency
  .github/workflows/ci.yml
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: resolve plugin integration test failures and correct documentation
  .github/workflows/integration-tests.yml
  Makefile
  cmd/main.go
  internal/controller/plugin_controller.go
  reports/2025-08-29-comprehensive-test-suite-documentation.md
  test/integration/centralized_backup_test.go
  test/integration/cluster_lifecycle_test.go
  test/integration/database_seed_uri_test.go
  test/integration/enterprise_features_test.go
  test/integration/integration_suite_test.go
  test/integration/multi_node_cluster_test.go
  test/integration/splitbrain_detection_test.go
  test/integration/standalone_deployment_test.go
  test/integration/topology_placement_simple_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: update Ginkgo to v2.25.2 to resolve CI version mismatch
  go.mod
  go.sum
Due: go-mod-tidy

fix: apply CI optimizations to failing integration tests
  test/integration/backup_rbac_test.go
  test/integration/integration_suite_test.go
  test/integration/simple_backup_test.go
  test/integration/splitbrain_detection_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: apply CI optimizations and dynamic server counts to all integration tests
  test/integration/cluster_lifecycle_test.go
  test/integration/enterprise_features_test.go
  test/integration/topology_placement_simple_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

refactor: remove redundant Edition field from Neo4jEnterpriseCluster and Neo4jEnterpriseStandalone
  api/v1alpha1/neo4jenterprisecluster_types.go
  api/v1alpha1/neo4jenterprisestandalone_types.go
  api/v1alpha1/types_test.go
  apoc-test.log
  config/crd/bases/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  internal/validation/cluster_validator.go
  internal/validation/edition_validator.go
  internal/validation/standalone_validator.go
  test-apoc-plugin.sh
  test/integration/backup_rbac_test.go
  test/integration/centralized_backup_test.go
  test/integration/cluster_lifecycle_test.go
  test/integration/database_seed_uri_test.go
  test/integration/enterprise_features_test.go
  test/integration/integration_suite_test.go
  test/integration/multi_node_cluster_test.go
  test/integration/plugin_test.go
  test/integration/simple_backup_test.go
  test/integration/splitbrain_detection_test.go
  test/integration/standalone_deployment_test.go
  test/integration/topology_placement_simple_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: resolve cluster lifecycle test timeout after scaling operation
  test/integration/cluster_lifecycle_test.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

fix: correct TLS URI scheme logic for proper cluster connections
  internal/neo4j/client.go
Due: go-fmt, go-imports, golangci-lint-fast, staticcheck-fast

feat: add comprehensive Property Sharding implementation analysis
  reports/2025-09-03-property-sharding-implementation-analysis.md
Due: none
