Repository dl80pie/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

.pre-commit-config.yaml:

repos:
  # Essential file checks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: ^(config/manager/|\.github/workflows/).*\.ya?ml$
      - id: check-added-large-files
        args: ['--maxkb=1000']  # Limit to 1MB
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements

  # Fast Go code quality checks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w, -s]
        language: system
        files: \.go$

      - id: go-imports
        name: go imports
        entry: bash -c 'command -v goimports >/dev/null 2>&1 || go install golang.org/x/tools/cmd/goimports@latest; goimports -w .'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: golangci-lint-fast
        name: golangci-lint (fast)
        entry: bash
        args: [-c, 'make golangci-lint >/dev/null 2>&1 || true; if [ -f ./bin/golangci-lint ]; then ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m; else echo "golangci-lint not available, skipping"; fi']
        language: system
        files: \.go$
        pass_filenames: false

  # Security checks (fast)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # YAML validation (fast)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: \.(yaml|yml)$

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.1
    hooks:
      - id: commitizen
        stages: [commit-msg]

fix: improve pre-commit hooks for YAML and tool resilience
  .pre-commit-config.yaml
  .yamllint.yaml
Due: none

test: verify pre-commit hooks are working
  test-precommit.md
Due: none

chore: remove test files
  test-multi-doc.yaml
Due: none

chore: clean up remaining test files
  test-precommit.md
Due: none

docs: add documentation for pre-commit hook fixes
  PRE_COMMIT_FIXES.md
Due: none

chore: remove temporary documentation file
  PRE_COMMIT_FIXES.md
Due: none

fix: resolve goimports and golangci-lint issues in pre-commit hooks
  .pre-commit-config.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  test-precommit-fix.go
Due: go-fmt, go-imports, golangci-lint-fast

chore: remove test file after verifying pre-commit hooks work
  test-precommit-fix.go
Due: go-fmt, go-imports, golangci-lint-fast

fix: resolve CLUSTER_CONTEXT unbound variable error in dev-environment.sh
  scripts/dev-environment.sh
Due: none

fix: resolve issues with GitHub Actions CI workflow
  .github/workflows/ci.yml
Due: none

chore: update .gitignore to include .dev-config
  .gitignore
Due: none

chore: remove .dev-config from git tracking
  .dev-config
Due: none

chore: update golangci-lint configuration format
  .golangci.yml
Due: none

chore: comment out version string in golangci-lint configuration
  .golangci.yml
Due: none

chore: streamline CI workflows and static analysis configuration
  .github/workflows/ci.yml
  .github/workflows/static-analysis.yml
  .golangci.yml
Due: none

chore: update Go version and enhance CI workflows
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  config/manager/kustomization.yaml
  test/e2e/e2e_test.go
  test/utils/utils.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: enhance cluster validation and CI workflows
  .github/workflows/ci.yml
  .github/workflows/cluster-test.yml
  .github/workflows/openshift-certification.yml
  .github/workflows/static-analysis.yml
  Makefile
  docs/README.md
  docs/github-workflows/README.md
  docs/github-workflows/index.md
  docs/github-workflows/workflow-improvements-summary.md
  hack/kind-config.yaml
  scripts/validate-cluster.sh
Due: none

feat: enhance testing infrastructure and CI workflows
  .github/workflows/ci.yml
  .github/workflows/openshift-certification.yml
  .github/workflows/static-analysis.yml
  .github/workflows/test-validation.yml
  Makefile
  docs/README.md
  docs/github-workflows/index.md
  docs/github-workflows/test-improvements-summary.md
  docs/testing-conditional-execution.md
  internal/controller/autoscaler_test.go
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jbackup_controller_test.go
  internal/controller/neo4jenterprisecluster_controller_test.go
  internal/controller/suite_test.go
  scripts/check-cluster.sh
Due: go-fmt, go-imports, golangci-lint-fast

refactor: update CI workflows to streamline dependency installation
  .github/workflows/ci.yml
  .github/workflows/openshift-certification.yml
  .github/workflows/static-analysis.yml
  .github/workflows/test-validation.yml
Due: none

feat: enhance enterprise cluster management and testing infrastructure
  .github/workflows/openshift-certification.yml
  .github/workflows/test-validation.yml
  api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/plugin_controller.go
  internal/resources/cluster.go
  internal/resources/cluster_test.go
  test/utils/cleanup.go
  test/utils/utils.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: implement lenient static analysis configuration and enhance CI workflows
  .github/workflows/static-analysis.yml
  .golangci.yml
  Makefile
  cmd/main.go
  internal/metrics/metrics.go
  internal/neo4j/client.go
  internal/resources/cluster.go
  internal/webhooks/neo4jenterprisecluster_webhook.go
Due: go-fmt, go-imports, golangci-lint-fast

fix: improve Neo4j client handling in cluster readiness check
  internal/controller/neo4jrestore_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: enhance Kind cluster setup with directory management and configuration updates
  Makefile
  hack/kind-config.yaml
  scripts/setup-kind-dirs.sh
Due: none

fix: update Gosec installation path in CI workflow
  .github/workflows/ci.yml
Due: none

feat: enhance CI workflow with cgroups configuration checks and improved cluster management
  .github/workflows/ci.yml
  hack/kind-config-basic.yaml
  hack/kind-config-cgroups.yaml
Due: none

feat: enhance CI workflow with new testing capabilities and cgroups v2 support
  .github/workflows/ci.yml
  Makefile
  docs/cgroups-v2-fix.md
  docs/ci-workflow-fixes.md
  hack/kind-config-cgroups-v2.yaml
  hack/kind-config-simple.yaml
  scripts/test-cgroups-v2.sh
  scripts/test-cluster-creation.sh
  scripts/test-minimal-cluster.sh
Due: none

feat: optimize testing and deployment configurations for improved performance
  .github/workflows/ci.yml
  Makefile
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/manager_role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/test-with-webhooks/kustomization.yaml
  config/test-with-webhooks/manager_metrics_patch.yaml
  config/test-with-webhooks/manager_resources_patch.yaml
  config/test-with-webhooks/manager_webhook_patch.yaml
  config/test-with-webhooks/metrics_service.yaml
  config/test-with-webhooks/webhookcainjection_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/webhook-service.yaml
  docs/performance-guide.md
  docs/test-optimization-summary.md
  hack/kind-config-simple.yaml
  internal/controller/autoscaler_test.go
  internal/controller/multicluster_controller_test.go
  internal/controller/neo4jdatabase_controller_test.go
  internal/controller/security_coordinator_test.go
  scripts/run-tests.sh
  scripts/test-cleanup.sh
  test-cluster.yaml
  test/utils/utils.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: optimize testing configurations and update Neo4j image version
  .github/workflows/ci.yml
  .github/workflows/test-validation.yml
  Makefile
  Tiltfile
  cmd/main.go
  config/ci/manager_resources_patch.yaml
  docs/disaster-recovery-guide.md
  docs/plugin-management-guide.md
  docs/query-monitoring-guide.md
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/resources/cluster_test.go
  test/integration/cluster_lifecycle_test.go
  test/integration/enterprise_features_test.go
  test/integration/failure_scenarios_test.go
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: enhance CI workflow and integration tests with debugging capabilities
  .github/workflows/ci.yml
  Makefile
  test/integration/failure_scenarios_test.go
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: improve backup job environment variable handling and enhance StatefulSet updates
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jenterprisecluster_controller.go
  test/integration/cluster_lifecycle_test.go
  test/integration/enterprise_features_test.go
  test/integration/failure_scenarios_test.go
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: enhance testing setup and integration workflows with new scripts and configurations
  .github/workflows/test-validation.yml
  .gitignore
  Makefile
  config/manager/kustomization.yaml
  internal/controller/neo4jenterprisecluster_controller.go
  scripts/run-tests.sh
  scripts/setup-test-environment.sh
  scripts/test-integration-with-webhooks.sh
  test-output.log
  test/e2e/e2e_test.go
  test/utils/utils.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: enhance testing setup and CI workflow with webhook support
  .github/workflows/ci.yml
  Makefile
  TESTING.md
  TEST_IMPROVEMENTS.md
  config/ci/disable_webhooks_patch.yaml
  config/ci/kustomization.yaml
  config/ci/manager_metrics_patch.yaml
  config/ci/manager_resources_patch.yaml
  config/ci/metrics_service.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  go.mod
  internal/controller/neo4jrestore_controller_test.go
  internal/controller/suite_test.go
  scripts/run-tests.sh
  scripts/setup-test-environment.sh
  scripts/test-integration-setup.sh
  scripts/test-integration-with-webhooks.sh
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/integration/cluster_lifecycle_test.go
  test/integration/enterprise_features_test.go
  test/integration/failure_scenarios_test.go
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

fix: update RBAC role and enhance documentation for Neo4j resources
  config/rbac/role.yaml
  docs/api_reference/neo4jbackup.md
  docs/api_reference/neo4jdatabase.md
  docs/api_reference/neo4jenterprisecluster.md
  docs/api_reference/neo4jgrant.md
  docs/api_reference/neo4jplugin.md
  docs/api_reference/neo4jrestore.md
  docs/api_reference/neo4jrole.md
  docs/api_reference/neo4juser.md
  docs/developer_guide/architecture.md
  docs/developer_guide/development.md
  docs/developer_guide/testing.md
  docs/user_guide/configuration.md
  docs/user_guide/getting_started.md
  docs/user_guide/guides/backup_restore.md
  docs/user_guide/guides/monitoring.md
  docs/user_guide/guides/performance.md
  docs/user_guide/guides/security.md
  docs/user_guide/guides/upgrades.md
  docs/user_guide/installation.md
  internal/controller/neo4jrestore_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: add CLAUDE.md for project guidance and enhance Makefile with webhook testing
  .github/workflows/webhook-tests.yml
  CLAUDE.md
  Makefile
  README.md
  api/v1alpha1/neo4jenterprisecluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/certmanager/kustomization.yaml
  config/certmanager/letsencrypt-issuer.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  config/dev/ca-certificate.yaml
  config/dev/kustomization.yaml
  config/dev/manager_webhook_patch.yaml
  config/dev/self-signed-issuer.yaml
  config/dev/webhook-dev-patch.yaml
  config/dev/webhookcainjection_patch.yaml
  config/production/kustomization.yaml
  config/production/letsencrypt-webhook-patch.yaml
  config/production/manager_webhook_patch.yaml
  config/production/webhookcainjection_patch.yaml
  docs/webhook-tls-strategy.md
  hack/cleanup-dev.sh
  hack/test-webhooks.sh
  internal/controller/multicluster_controller.go
  internal/controller/multicluster_controller_test.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/resources/cluster.go
  simple-test-cluster.yaml
  startup-fix.sh
  test-simple-cluster.yaml
  test/fixtures/invalid-cluster.yaml
  test/integration/webhook_integration_test.go
  test/webhooks/webhook_tls_test.go
Due: go-fmt, go-imports, golangci-lint-fast

refactor: simplify readiness and liveness probe configuration
  internal/resources/cluster.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: integrate cert-manager and fix Neo4j TLS configuration
  CLAUDE.md
  Makefile
  cmd/main.go
  config/dev/self-signed-issuer.yaml
  examples/README.md
  examples/clusters/three-node-cluster.yaml
  internal/resources/cluster.go
  scripts/test-env.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat: enhance demo system with verbose output and fix project structure
  .github/workflows/README.md
  Makefile
  config/manager/kustomization.yaml
  scripts/CHANGES-IMPACT-ANALYSIS.md
  scripts/README-demo.md
  scripts/demo-setup.sh
  scripts/demo.sh
  scripts/setup-operator.sh
  scripts/verify-no-breaking-changes.sh
Due: none
